* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main_banner{
    background-image: url("../images/01 1.jpg");
    background-size: cover;
    background-position: center top;
    height: 100vh;
    padding-top: 344px;
    }
.main_banner.baner_2{
    background-image: url("../images/01 2.jpg");
}
.main_banner.baner_3{
    background-image: url("../images/01 3.jpg");
}
.main_banner.baner_4{
    background-image: url("../images/01 4.jpg");
}
.container{
    margin: auto;
    max-width: 1110px;
    /*background-color: aqua;*/

}
header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding-top: 31px;
}
header .container{
    display: flex;
    justify-content: space-between;
}
.d-flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header p{
    margin-left: 22px;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
}
header ul{
    display: flex;
    list-style: none;
    padding-top: 1px;
}
header li{
    margin-left: 23px;
}
header li span{
    display: inline-block;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 7px 30px;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}
header .soc{
    display: inline-block;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
}
.main_banner h1{
    font-family: sans-serif;
    font-size: 55px;
    line-height: 55px;
    color: #181818;
    margin-bottom: 30px;
}
.main_banner p{
    font-family: sans-serif;
    font-size: 34px;
    line-height: 110%;
    color: #181818;
    margin-bottom: 65px;
}
.main_banner .btn{
    display: inline-block;
    background-color: #ffffff;
    border-radius: 40px;
    padding: 23px 47px;
    color: #181818;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    margin-right: 20px;
    font-family: sans-serif;
}
.style{
    width: 100%;
    margin-top: 70px;
}
.style h2{
    font-family: sans-serif;
    font-weight: normal;
    font-size: 38px;
    line-height: 42px;
    color: #181818;
}
.f-style{
    display: flex;
    margin-top: 15px;
}
.style-content{
    margin-left: 30px;
    }
.style-content p{
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #181818;
    box-sizing: border-box;
}
.style-element{
    width: 100%;
   margin-top: 150px;
    margin-bottom: 80px;

}
.style-element h2{
    width: 105%;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 55px;
    line-height: 55px;
    color: #181818;
    margin-bottom: 40px;
}
.style-element ul{
    list-style: none;
    display: flex;
    justify-content: normal;
    font-size: 55px;
    line-height: 55px;
    font-family: sans-serif;
    font-weight: normal;
    color: #181818;
    }
.style-element li{
    margin-right: 158px;
}
.style-element span{
    margin-left: 8px;
    margin-top: 25px ;
    position: absolute;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #181818;
}
.style-element p{
    display: inline-block;
    position: relative;
    left: 795px;
    top: 65px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #181818;
    box-sizing: border-box;
}
.price-style{
    /*width: 100%;*/
    padding-top: 80px;
}
.price-style h2{

    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 42px;
    color: #181818;
    margin-left: 476px;
    margin-bottom: 15px;


}
.f-style-2{
    width: 105%;
    display: flex;
}
.style-content2{
    margin-right: 82px;
}
.style-content2 p{
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #181818;
    /*box-sizing: border-box;*/
    /*margin-right: 80px;*/
    }

.blue-img{
    width: 416px;
    height: 93px;
     background: #2B59C3;
     border-radius: 5px;
    position: relative;
    left: -13px;
    bottom: 82px;}
.blue-img p{
    color: #FFFFFF;
    padding: 11px 7px 11px 13px;
    font-size: 18px;
    line-height: 25px;
}

